.register-page {
  padding: 1rem 0;
  padding-top: 5rem;
  padding-bottom: 9rem;
}

.register-container {
  display: flex;
  width: 70%;
  border-radius: 0.5rem;
  margin: 1rem auto;
}


.register-page-left {
  position: relative;
  display: flex;
  justify-content: center;
  width: 46%;
  background-color: rgba( 240, 255, 255, 0.20 )	;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex-direction: column;
}

.register-page-left img {

  display: block;
}