.header {
    flex-direction: row;
    display: flex;
    padding-top: 4rem;
    width: 90%;
    height: 34vw;
    margin: 0 auto;
    padding-bottom: 3rem;
   
}

.text-inicial{
    font-size: max(2.5vw, 22px);
    text-align: left;
    padding-bottom: 3rem;
}

.text{
    text-align: left;
    padding-bottom: 3rem;
    max-width: 800px; 
}

.button1{
    float: left;
    border: 1px solid #22543D;
    color: #FFF;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 50px;
    background-color: #22543D;
}