.card-form-profile{
    padding: 2rem; 
    border-radius: 0.375rem; 
    border-width: 2px; 
    margin: auto;
    width: 70%; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title-editProfile{
    font-weight: 400;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.profile-form{
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 1rem;
}

.input-box{
    position: relative;
    margin-bottom: 2.5rem;
}
.input-box:focus{
    border: 1px solid #22543D;
}



.editProfile-inputs {
    width: 48.5%;

}

.editProfile{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.profile-input {
    width: 100%;

    font-size: 1rem;
    border: 1px solid #7e7d7d;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
    border-radius: 5px;
    padding: 1rem .5rem;
}

.profile-input:focus{
    border: 1px solid #3DA6FB;
}


.profil-label {
    position: absolute;
    left: 0;
    pointer-events: none;
    font-size: 1rem;
    color: #d8e1e7;
    transition: 0.5s;
    padding-top: 3.5rem;
}


.error {
    color: rgba(207, 13, 13, 0.8);
    font-weight: bold;
    font-size: 1rem;
}

.profile__check{
    position: absolute;
    left: 0;
    pointer-events: none;
    font-size: 1rem;
    color: #d8e1e7;
    transition: 0.5s;
}

.radio{
    color: #d8e1e7;
    margin-left: 0.5rem;
}

.radios{
    padding-left: 3rem;
}

.buttons-editProfile{
    width: 50%;
    justify-content: space-between;
    display: flex;
    margin: auto;
}
.buttons-editProfile button{
    background-color: #007954;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto; 
    padding: 10px 50px;
    color: #FFF;
}

